
<div id="login">
<% if current_user.blank? %>
  <p class="login">
      <%= link_to 'Log in with Github', login_github_path %>
      <%= link_to 'Log in with Facebook', login_facebook_path %>
    </p>
<% else %>
  <p class="welcome">
        <%="Welcome, #{current_user.username}!"%>
    </p>
    <%= link_to 'Log Out', logout_path %>
<% end %>
</div>