<% # edit.html.erb using partial %>
<h2>Edit Existing Movie</h2>
<%= form_tag movie_path(@movie), :method => :put do %>
  <%= render :partial => 'movie_form' %>
  <%= submit_tag 'Update Movie Info' %>
<% end %>
<%= link_to 'Cancel', movie_path(@movie) %>
