<% #  This file is app/views/movies/index.html.erb %>
<h1>All Movies</h1>
<table id="movies">
  <thead>
    <tr>
      <th>Movie Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'movie', :collection => @movies %>
  </tbody>
</table>
<%= link_to 'Add new movie', new_movie_path %>