<h1><%="New Review for #{@movie.title}"%></h1>
<%= form_tag movie_reviews_path(@movie) do %>
  <label>How many potatoes:</label>
  <%= select_tag 'review[potatoes]', options_for_select(1..5) %>
  <%= submit_tag 'Create Review' %>
<% end %>